table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.header {
  background-color: #cfcfcf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.evenRow {
  background-color: #f1f1f1; /* Set the background color for even rows */
}

.oddRow {
  background-color: #ffffff; /* Set the background color for odd rows */
}

.cell {
  height: 50px;
  width: 25vw;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
