<!-- Remove Card -->
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Delete Car</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="DeleteCarData" (ngSubmit)="onSubmitDeleteData()" class="carForm">
            <div>
                <mat-form-field appearance="fill" color="primary" class="input-felt">
                    <mat-label>Placering</mat-label>
                    <input matInput formControlName='id' type="number">
                    <mat-error *ngIf="DeleteCarData.get('id')?.hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <button [disabled]="DeleteCarData.invalid" mat-raised-button color="primary" type="submit">Delete</button>
        </form>
    </mat-card-content>
</mat-card>
