@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

$background-card: mat.get-theme-color($dark-theme,background,card);

@include mat.core-theme($dark-theme);


a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

a:hover,
a:active {
    color: lightgray;
    cursor: pointer;
}

.navigation-items {
    display: flex;
    align-items: center;
    list-style-type: none;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

