<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="navigation-items">
            <img src="../favicon.ico" alt="">
            <a href="/home">Home</a>
        </div>

        <div>
            <ul class="navigation-items">
                <li>
                    <a href="/sideKammerat">Din Sidekammerat</a>
                </li>
                <li>
                    <a href="/geometri">Geometri</a>
                </li>
                <li>
                    <a href="/cars">El-Biler</a>
                </li>
                <li>
                    <a href="/fossil">Fossil-Biler</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>