<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="navigation-items">
            <img src="../favicon.ico" alt="">
            <mat-slide-toggle color="primary" [(ngModel)]="auth.isAdmin">Admin: {{auth.isAdmin}}</mat-slide-toggle>
        </div>

        <div>
            <ul class="navigation-items">
                <li>
                    <a href="/sideKammerat">Din Sidekammerat</a>
                </li>
                <li>
                    <a routerLink="/geometri">Geometri</a>
                </li>
                <li>
                    <a routerLink="/cars">El-Biler</a>
                </li>
                <li>
                    <a routerLink="/fossil">Fossil-Biler</a>
                </li>
                <li>
                    <a routerLink="/fossilAdmin">Fossil-Admin</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>