


<table mat-table [dataSource]="carsArray">
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>Placering</th>
        <td (click)="openDialog(car)" mat-cell *matCellDef="let car"> {{car.rank}} </td>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td (click)="openDialog(car)" mat-cell *matCellDef="let car"> {{car.model}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Antal</th>
        <td (click)="openDialog(car)" mat-cell *matCellDef="let car"> {{car.quantity}} </td>
    </ng-container>

    <!-- ChangeProcent Column -->
    <ng-container matColumnDef="QuantityPercent">
        <th mat-header-cell *matHeaderCellDef>Ændring Antal (%)</th>
        <td (click)="openDialog(car)" mat-cell *matCellDef="let car"> {{car.changeQuantityProcent}}% </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" aria-label="Select page of cars"></mat-paginator>