/*                              */
/*             Form             */
/*                              */

.carForm {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// .example-card {
//     max-width: 400px;
//     margin-bottom: 8px;
//   }

mat-card {
  margin: 10px;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.15);
}